<div class="container mtop">
  <div class=" d-flex justify-content-between">
      <h1>WishList</h1>
  <h5>  <%= link_to "Go Back Home", root_path, class: "nav-link backhome" %></h5>
  </div>
  <div class="d-flex justify-content-between">
    <div class="row">
      <% @order_items.each do |item| %>
        <div class="card mb-5 col-lg-11 col-md-11 col-sm-12 cardbg">
          <div class="row g-0">
            <div class="col-md-4 itemcarddd">
              <% image = item.product.images.first %>
              <% if image.present? %>
                <%= image_tag(image.image.url, class: 'cardpic') %>
              <% else %>
                <p>No image available</p>
              <% end %>
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title"><%= item.product.title %></h5>
                <p><%= item.product.price %></p>
              </div>
              <div class="card-body justify-content-between ">
                <%= form_for item, remote: true do |f| %>
                  <%= f.hidden_field :product_id, value: item.product.id %>
                  <%= f.number_field :quantity, value: item.quantity.to_i, class: 'quantity-input quantitfield' %>
                  <%= f.submit "Update Cart", class: 'hidden-update-btn', style: 'display: none;' %>
                  <%= link_to 'Delete', order_item_path(item.id), method: :delete, data: { confirm: 'Are you sure?' }, remote: true, class: 'delete-link Deletebtn'%>
                <% end %>
                <br>
                <h3>Subtotal: <span class="subtotal" data-price="<%= item.product.price %>"><%= item.total %></span>$</h3>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-12 ">
      <div class="card cardbg">
        <h3 class="justify-content-center align-middle text-center mt-2">Total: <span class="total-value "><%= current_order.subtotal %></span>$</h3>
        <%= image_tag 'Payment/f55.png', class: "img-fluid payment " %>
        <%= render "payments/new" %>
      </div>
    </div>
  </div>
</div>

<script>
  $(document).ready(function() {
    // Function to handle quantity input change
    function handleQuantityChange() {
      var quantity = $(this).val();
      var price = parseFloat($(this).closest('.card-body').find('.subtotal').data('price'));
      var subtotal = (quantity * price).toFixed(2);
      $(this).closest('.card-body').find('.subtotal').text(subtotal);
      updateTotal();
    }

    // Function to update the total
    function updateTotal() {
      var total = 0;
      $('.subtotal').each(function() {
        total += parseFloat($(this).text());
      });
      $('.total-value').text(total.toFixed(2));
    }

    // Bind the input change event for quantity inputs
    $('.quantity-input').on('input', handleQuantityChange);

    // Bind the delete link click event using ajax:complete
    $('.delete-link').on('ajax:complete', function(event, xhr, status) {
      if (status === 'success') {
        // Update the total after deletion, whether successful or not
        updateTotal();
      }
    });
  });
</script>


