<div class="container mtop">
<h1>WishList</h1>
  <% @order_items.each do |item| %>
    <h5><%= item.product.title %></h5>
    <p><%= item.product.price %></p>

  <%= form_for item, remote: true  do |f|%>
  <%= f.hidden_field :product_id, :value => item.product.id %>
  <%= f.number_field  :quantity,:value => item.quantity.to_i %>
  <%= f.submit "Update Card"%>
<%= link_to 'Destroy', order_item_path(item.id), method: :delete, data: { confirm: 'Are you sure?' } ,remote: true %>

<% end %>
<h3>Subtotal: <%= item.total%></h3>
  <% end %>

  <br>
<h3>Your current card item value has a subtotal of:<%= current_order.subtotal %></h3>
</div>


