<div class="container mtop  ">
  <h1>WishList</h1>
  <div class="d-flex justify-content-between">
  <div class="row ">
    <% @order_items.each do |item| %>
      <div class="card mb-5 col-lg-11 col-md-11 col-sm-12 cardbg">
        <div class="row g-0">
          <div class="col-md-4 itemcarddd">
            <% image = item.product.images.first %>
            <% if image.present? %>
              <%= image_tag(image.image.url, class: 'cardpic') %>
            <% else %>
              <p>No image available</p>
            <% end %>
          </div>
          <div class="col-md-8 ">
            <div class="card-body">
              <h5 class="card-title"><%= item.product.title %></h5>
              <p><%= item.product.price %></p>
            </div>
            <div class="card-body">
              <%= form_for item, remote: true do |f| %>
                <%= f.hidden_field :product_id, value: item.product.id %>
                <%= f.number_field :quantity, value: item.quantity.to_i %>
                <%= f.submit "Update Cart" %>
                   <%= link_to 'Delete', order_item_path(item.id), method: :delete, data: { confirm: 'Are you sure?' }, remote: true %>
              <% end %>


              <h3>Subtotal: <%= item.total %></h3>
            </div>
          </div>
        </div>
      </div>
    <% end %>

  </div>
    <div class="col-lg-3 col-md-3 col-sm-12 offset-lg-0 offset-md-0 offset-sm-0 ">
      <div class="card">
        <h3>Total: <%= current_order.subtotal %></h3>
      </div>
    </div>
  </div>
</div>

