
<div class="container">
<p id="notice"><%= notice %></p>




<p>
  <strong>Title:</strong>
  <%= @product.title %>
</p>

<p>
  <strong>Price:</strong>
  <%= number_to_currency(@product.price, precision: 2, strip_insignificant_zeros: true) %>
</p>

<p>
  <strong>Serial Number:</strong>
 <%= @product.serial_number %>
</p>

<% if user_signed_in? && current_user == @product.user %>
<%= link_to 'Edit', edit_product_path(@product) %>
<%end%>
<%= link_to 'Back', products_path %>
</div>
